@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Archivo:regular,italic,500,500italic,600,600italic,700,700italic');
html {
  font-size:18px;
}
body {
  font-family:'Work Sans';
  line-height: 1rem;
}
.card { padding:1rem; }
h1 { font-size: 48px; font-weight:200; letter-spacing: -1.5px; font-family:'Archivo'; }
h2 { font-size: 60px; font-weight:200; letter-spacing: -0.5px;  font-family:'Archivo'; }
h3 { font-size: 48px; font-weight:400; letter-spacing:  0.0px;  font-family:'Archivo'; }
h4 { font-size: 34px; font-weight:500; letter-spacing:  0.25px;  font-family:'Archivo'; }
h5 { font-size: 24px; font-weight:500; letter-spacing:  0.0px;  font-family:'Archivo';  }
h6 { font-size: 20px; font-weight:500; letter-spacing:  0.15px; font-family:'Archivo';  }
.subtitle { font-size:16px; font-weight:500; letter-spacing: 0.1px; font-family:'Archivo'; }
p {
  font-size: 16px;
  letter-spacing: 0.5px;
}
body {
  font-size:14px; font-weight:400; letter-spacing: 0.5px;
}

h1, h2, h3, h4, nav {
  font-family:'Archivo';
  line-height:1em;
}
.nav-list a {
  font-size:1.125rem;
  font-weight:500;
  letter-spacing:0.75px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
}
.nav-list a {
  // text-transform:uppercase;
}
// iphone x,  iphone 6, galaxy s5, note 6 - like devices
@media (min-width: 375px) {
}

//
@media (min-width: 425px) {
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
// note: iPad Pro hath been targeted within
@media (min-width: 992px) {
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}