body {
  box-sizing:border-box;
}
.portfolio-grid {
  display:grid;
  grid-template-columns: repeat(2, [col-start] 1fr);
  grid-template-rows: repeat(7, [row-start] 1fr);
  // grid-auto-rows: max(135px);
  grid-gap:0px;
}
.portfolio-item {
  overflow: hidden;
  img{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
  }
}
footer {
}


// iphone x,  iphone 6, galaxy s5, note 6 - like devices
@media (min-width: 375px) {
}

//
@media (min-width: 425px) {
  // .portfolio-grid {
  //   display:grid;
  //   grid-template-columns: repeat(3, [col-start] 1fr);
  //   grid-template-rows: repeat(24, [row-start] 1fr);
  //   grid-auto-rows: max(135px);
  //   grid-gap:0px;
  // }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .portfolio-grid {
    max-height:100%;
    grid-template-columns: repeat(3, [col-start] 1fr);
    grid-template-rows: repeat(5, [row-start] 1fr);

    // grid-auto-rows: max(135px);
  }
}

// Large devices (desktops, 992px and up)
// note: iPad Pro hath been targeted within
@media (min-width: 992px) {

  .portfolio-grid {
    max-height:100%;
    grid-template-columns: repeat(4, [col-start] 1fr);
    grid-template-rows: repeat(8, [row-start] 1fr);
    grid-auto-rows: max(135px);
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}