$base_blue:#253137;

.portfolio-grid {
  display: grid;
}
.portfolio-item {
  grid-auto-columns:min-content;
  grid-auto-rows:min-content;
  // border: 1px solid black;
  // background-color:white;
  padding:.75rem 0.5rem 0rem;
  padding: 0.5rem 0.5rem 0rem;
  // max-height: 20vh;
  max-height: 8rem;
  box-shadow: inset 2px 2px 2rem #0003;
}

.portfolio-thumbnail {
  overflow-y:hidden;
}

.thumbs {
  list-style-type:none;
  margin:0;
  padding:0;
}
.thumb {

}
.graphic {
  display:block;
  overflow:hidden;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.caption {
  background-color:white;
}
.site-info {
  color:#D7DCDE;
  text-decoration: none;
  font-size:12px;
  display:flex;
  padding: .5rem;
}
.site-logo {
  padding: .5rem;
  width:auto;
  background-origin: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  max-width:4rem;
  display:block;
  img {
    width: 100%;
    height:auto;
  }
}
.site-name {

  line-height:1em;
  color:#ABD1D0;
  font-weight:500;
  display:block;
  a {
  }
  span, a {
    display:block;
  }
}
.site-years-worked {
  display:block;
}
.language-list {
  list-style-type:none;
  margin:0;
  margin-top:1em;
  padding:0;
  display: flex;
  li {
    font-size:12px;
  }
}
.site-thumbnail {
  color:#111A1F;
}
.lang {
  svg {
    max-width:1rem;
  }
}
.info-work {
  margin-left:auto;
  padding:0.25rem;
  vertical-align:top;
  img {
    width: 100%;
    height:auto;
  }
}
.thumb.mobile {
  padding: 0rem .25rem 0rem;
  .graphic {
    display:grid;
    max-width:100%;
    height:auto;
    overflow:hiddden;
  }
}
.thumb.mobile-fullview {
  // padding:6pt 6pt 0;
  .graphic {
    width:100%;
    height:auto;
  }
}
.portfolio-thumbnail {
  .desktop-zoom img {
    width:125%;
  }
}
#American_Academy_of_Sleep_Medicine {
  background-color:#3D4A51;
}
#Trinity_Insight{
  background-color:#FB8C00;
}
#American_Muscle{
  background-color:#ABD1D0;
}
#SLEEP_Meeting {
  background-color:#3A2A59;
}
#Beckers_School_Supplies {
  background-color:#FA5E4F;
}
#Bryn_Mawr_Medical_Specialists_Association {
  background-color:#FDC54C;
}
#Buy_Auto_Parts {
  background-color:#47555C;
}
#Surgent {
  background-color:#9DC7C6;
}
#ePromos_Promotional_Products {
  background-color:#3A2A59;
}
#Evan_Moor {
  background-color:#F86459;
}
#Footwear_etc_ {
  background-color:#FB8C00;
}
#NorthShore_Care_Supply {
  background-color:#ABD1D0;
}
#Reading_Glasses_com {
  background-color:#F1372B;
}
#Skis_com {
  background-color:#221445;
}

.portfolio-item {
  max-height:5.25rem;
}
.graphic {
  box-shadow: 0.25rem 0.5rem 0 rgba(37, 49, 55, 0.25);
  img {
  }
}
// Galaxy S5-like query
@media (min-width: 360px) {
}
// iphone x,  iphone 6, galaxy s5, note 6 - like devices
@media (min-width: 375px) {
  .portfolio-item {
    max-height: 6rem;
  }
}
// @iphone 6/7/8 plus
@media (min-width:414px) {
  .portfolio-item {
    max-height: 7rem;
  }
}
//
@media (min-width: 425px) {
  .portfolio-item {
    max-height: 7rem;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .portfolio-item {
    grid-auto-columns:1fr 1fr 1fr;
    grid-auto-rows:12rem;
    max-height: 8rem;
  }
  // iPad Portrait Mode.
  @media (orientation: portrait) {
    .portfolio-grid {

    }
  }
}

// Large devices (desktops, 992px and up)
// note: iPad Pro hath been targeted within
@media (min-width: 992px) {
  .portfolio-item {
    max-height: 15rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}