// global styles
// no modules allowed!

html {
  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
body {
  // box-sizing: border-box;
  max-width: 100%;
}
//@import "/node-modules/normalize.css/normalize.css";
// ^ this was not working.

// RESETS
@import 'node_modules/boilerplate.css/dist/boilerplate.min';

@import './type';
@import './colors'; // todo: modules. example: '.module-name.colors.scss' should only be imported with the page that includes that module.
@import './navigation';
@import './_animate';

.loader-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  content-alignment: center;
  align-items: center;
  // background-color: rgba(15,15,15,0.5);
  height: 8rem;
  width: 100%;
  box-shadow: 1px 1px 1px 0px darkslategrey;
}

.loader {
  border: 1px solid white;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 2rem;
  height: 2rem;
  animation-name: loading;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader-text {
  margin-top: 10px;
  padding-top: 10px;
  color: lightgrey;
  font-size: 18px;
  animation-name: fading;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes loading{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fading {
  0%, 100% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.95;
  }
}
// this way I have to be less specific in my css calls for faster animation toggles
// instead of just using .hidden and using display:none important because of specificity overwrites, i make the .hidden class
// require more specificicity to overrule, it is my hope this behaves as expected more often.
// this is slower, but my other classes can coexist a bit more peacefully is my theory
.hidden {
  display: none !important;
  height: 0px;
  width: 0px;
}
#root {
}
.app-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#about {
  @extend .app-overlay;
  background-color: #f44336;
  padding: 3.75rem 1rem 1rem;
}
.profile-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: inset 2px 2px 4px #222;
}

.hero {
  padding-top: 1rem;
}
@import './global-responsive';
