// global styles
// no modules allowed!
@import "./../../../node_modules/normalize.css";
@import "./type.scss";
@import "./colors.scss";
@import "./grid.scss";

// scss lint : universal selector slow. whelp i like borderbox so get over it.
body {
  *, *:before, *:after {
    box-sizing: border-box;
  }
}

// instead of using important, i make the .hidden class require specificicity.
div, ul, li {
  &.hidden {
    display:none;
    height:0px;
    width:0px;
  }
}

body {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x:hidden;
}

// < Navigation >
nav {
  position:sticky;
  top:0px;
  right:0px;
  left:0px;
  height: 0px;
  .toggle {
    margin-left:auto;
    border:none;
    padding:1rem;
    padding:0.75rem 0.5rem 0.5rem;
    margin-top:0.5rem;
    margin-right:0.25rem;
    border-radius: 4px;
    z-index:10;
    background-color:#D5E9E8;
  }
}
.navigation-open {

}
main {
  // margin-top: -81px;
  transition:filter 1s ease-in-out;

}
.navigation-open nav {
  z-index:2;
  background-color: white;
  height: auto;
  bottom: 0px;
  top: 0px;
  position: absolute;
}
.navigation-open  main {
  // margin-top: -273px;
  filter:blur(1rem);

}
.navbar {
  display: flex;
  align-items: stretch;
  background:transparent;
}
.nav-list {
  margin: 0;
  padding:0;
  list-style-type:none;
  a {
    display:block;
    padding:1rem;
  }
}

.collapsible {
  transform: translateX(100%);
  max-height:0px;
  transition: all 600ms;
  a {
    // max-height:0px;
    filter:blur(12px);
    transition:filter 1s ease-i
  }
  &.collapsed {
    max-height:fit-content;
    transform: translateX(0);
    a {
      max-height:fit-content;
      filter:blur(0px);
    }
  }
}
.nav-item {
  margin-top:2rem;
  max-width: 12rem;
  // margin-left:auto;
  margin: 2rem auto;
  // border-top-left-radius:6px;
  // border-bottom-left-radius: 6px;
  border-radius:6px;

}

// </ Navigation >`
header {
  padding:0 1rem;
}

main {
  // background-color: rgb(254, 187, 0);
  &.blur {
    filter:blur(12px);
  }
}


//
//   Media Queries
//   (mobile-first, above is 320 and above code)

// iphone x,  iphone 6, galaxy s5, note 6 - like devices
@media (min-width: 375px) {}

//
@media (min-width: 425px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
// note: iPad Pro hath been targeted within
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}