// global styles
// no modules allowed!
@import "./../../../node_modules/normalize.css";
@import "./type.scss";
@import "./colors.scss";
@import "./grid.scss";
body {
  box-sizing: border-box;
  max-width: 100%;
}

// < Navigation >
// nav {
// }
.navbar {
  display: flex;
  align-items: stretch;
  padding: .5rem 1rem; // position: sticky;
}

.branding {
  a {
    color: $brand_red;
  }
}

.navbar .toggle {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  margin-left: auto;
  width: 2rem;
  height: auto;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

// </ Navigation >
header {
  background-color: rgb(92, 68, 132);
}

main {
  background-color: rgb(254, 187, 0);
}

// collapsible collapsed
.collapsible {
  max-height: 100%;
  &.collapsed,
  &.collapsed-mobile {
    max-height: 0px;
    overflow-y: hidden;
  }
}

//
//   Media Queries
//   (mobile-first, above is 320 and above code)
//
// iphone x,  iphone 6, galaxy s5, note 6 - like devices
@media (min-width: 375px) {}

//
@media (min-width: 425px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar .toggle,
  .navbar {
    height: 0px;
    width: 0px;
    padding: 0;
    overflow-y: hidden;
  }
  .collapsed-mobile {
    max-height: 100%;
  }
}

// Large devices (desktops, 992px and up)
// note: iPad Pro hath been targeted within
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}